* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 2em auto;
}

.inputComment {
  border-radius: 10px;
  resize: none;
}

::placeholder {
  line-height: 3em;
  letter-spacing: 0.1em;
  word-spacing: 0.4em;
}

.inputBtn {
  width: 15%;
  margin-top: 3em;
  cursor: pointer;
  background-color: rgb(88, 137, 243);
  color: rgb(255, 255, 255);
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  margin-left: auto;
}

.inputBtn:hover {
  background-color: rgb(46, 75, 170);
}

.fa-paper-plane {
  margin-left: 0.5em;
}

.Toastify__toast--success {
  background: #3a913d;
}

.Toastify__toast--error {
  background: #d45547;
}